/* reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.clear{
    clear: both;
}
/* css dùng chung */
html, body{
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.s__title{
    color: #f55f8d;
    font-size: 22px;
    font-weight: bold;
    padding: 10px 0;

}
.b__title{
    font-size: 70px;
    font-weight: bold;
    padding: 10px 0;

}
a{
    color: white;
}
.button__gradient{
    padding: 20px 40px;
    border: none;
    border-radius: 30px;
    margin-left: 20px;
    color: white;
    font-size: 16px;
    background-image: linear-gradient(to right, #f55f8d 0%, #f8ae56 50%, #f55f8d 100%);
    background-size: 200%;
    transition: all .5s;
    cursor: pointer;
}
.button__gradient:hover{
    background-position: right center;
}

/* background */
.background{
    background-image: url('.././img/pic2.png');
    background-size: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    
}
/* header */
header .container nav{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}
header .nav__menu{
    display: flex;
    align-items: center;
}

header .nav__menu ul{
    list-style: none;
}
header .nav__menu ul li{
    display: inline-block;
    margin: 0 10px;
    font-size: 15px;
    padding: 40px 0;
}
header .nav__menu li:hover a{
    color: #f55f8d;
}

header .nav__menu li:hover span{
    display: inline-block;
    animation: menuUpDown 0.3s forwards;
}
header .nav__menu ul li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: bold;

}

header .nav__menu ul li i{
    font-size: 12px;
}

/* header .nav__menu ul li a:hover{
    color: #f55f8d;
} */
/* freelance */
.freelance{
    padding: 0 0;
    margin-top: 80px;
    overflow: hidden;

}
.freelance__content{
    display: flex;

}
.freelance .detail p{
    font-size: 18px;
    color: #636363;
    line-height: 40px;
    padding-right: 140px;

}
.freelance .detail ul{
    list-style: none;
}
.freelance .detail ul li i{
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 100%);
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: white;
    margin-top: 20px;
    margin-right: 10px;
}
.freelance .detail ul li span{
    color: #636363;
    font-size: 20px;
}

.freelance .button__freelance{
    margin: 30px 0px;
}
.freelance .picture img{
    margin-right: -120px;
}
/* services */
.services{
    padding: 100px 0;
    background-image: url('.././img/bg2.png');
    background-size: cover;
    background-position: top center;
}
.services .service__title{
    text-align: center;
}
.services .services__content{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 30px;
}
.services .service__item{
    text-align: center;
    padding: 20px 50px 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all .5s;
    border: 3px solid transparent;
}
.services .service__item:hover{
    transform: translateY(-20px);
    border-image: url('.././img/br.png') 1 round;

}
.services .service__item img{
    width: 80%;
}
.services .services__content .service__item h2{
    margin: 20px 0;
    font-size: 24px;
}
.services .services__content .service__item p{
    margin: 20px 0;
    font-size: 18px;
    line-height: 24px;
    color: #636363;
}
/* build */
.build{
    padding: 0 0;
    background-image: url('.././img/bg15.png');
    background-size: 100%;
    background-position: top right;
    background-repeat: no-repeat;
    overflow: hidden;

}
.build__content{
    display: flex;
    align-items: center;
}
.build .pictuer{
    width: 50%;

}
.build .pictuer img{
    width: 120%;
    margin-left: -200px;
    border-radius: 0 80px 80px 0;

}
.build .text{
    width: 50%;
    padding-right: 30px;
}
.build .text p{
    color: #636363;
    font-size: 16px;
    line-height: 25px;
}

.build .detail ul{
    list-style: none;
}
.build .detail ul li span{
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    
}

.build .detail ul li i{
    width: 26px;
    height: 26px;
    border: 1px solid #f55f8d;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    font-size: 16px;
    color: #f55f8d;
    margin-top: 20px;
}
.build .detail ul li span{
    color: #636363;  
    font-size: 16px;
    margin-left: 8px; 

}

.build .button__freelance{
    margin: 30px 0;
}
/* number */
.number{
    margin-top: 60px;
    padding: 80px 0;
    background-image: url('.././img/bg14.png');
    background-position: center;
    background-repeat: no-repeat;

}
.number .number__content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.number .number__item{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.number .number__item i{
    display: block;
    text-align: center;
    width: 90px;
    height: 90px;
    line-height: 90px;
    font-size: 50px;
    color: white;
    border-radius: 50%;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 100%);
}

.number .number__item h1{
    font-size: 68px;
    color: #f55f8d;
}
.number .number__item p{
    font-size: 20px;
}
/* agency */
.agency{
    padding: 0px 0;
    background-image: url('.././img/bg2.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.agency .agency__content{
    display: flex;
    padding: 120px 0;
}
.agency .agency__left{
    margin-left: 5%;
}
.agency .agency__right{
    overflow: hidden;
}
.agency .agency__right img{
    margin-top: 30px;
    width: 100%;
    animation: move2 5s infinite;

}
.agency .agency__left .agency__left__text{
    display: flex;
    align-items: center;
    padding: 30px 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    margin: 20px 0 30px;
    width: 90%;
    cursor: pointer;

}
.agency .agency__left__text .icon{
    margin-right: 20px;
    color: #f55f8d;
    font-size: 80px;
}

.agency .agency__left__text .text h1{
    font-size: 24px;
    transition: all .9s;

}
.agency .agency__left__text .text p{
    font-size: 18px;
    color: #636363;
    line-height: 30px;
    margin-top: 10px;
    transition: all .9s;

}

.agency .agency__left .move__right{
    margin-left: 60px;
}
.agency .agency__left .agency__left__text:hover{
    color: white;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 100%);

}
.agency .agency__left .agency__left__text:hover .icon{
    color: white;

}
.agency .agency__left .agency__left__text:hover p{
    color: white;

}

/* work */
.work{
    padding: 0 0;
    text-align: center;
}
.work .work__pic img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}
.work .work__pic{
    display: grid;
    grid-template-columns: repeat(2, 1fr) 1.5fr;
    gap: 30px;
}
.work .pic__1{
    grid-column: 1 / span 2;
}
.work .pic__5{
    grid-column: 3;
    grid-row: 2 / span 2;
}
.work .pic__6 {
    grid-column: 1 / span 2;
}
/* hiếu ứng vùng work */
.work .pic{
    cursor: pointer;
    position: relative;
    overflow: hidden;

}
/* thanh sáng */
.work .pic .light__effect{
    position: absolute;
    content: "";
    width: 50%;
    height: 100%;
    top: 0;
    left: -100%;
    display: block;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    transform: skewX(-25deg);
    transition: all .6s;
}

.work .pic:hover .light__effect {
    left: 125%;
}

.work .pic .pic__overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom:0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: all .5s;
}
.work .pic:hover .pic__overlay{
    opacity: 1;
}
.work .overlay__icon{
    padding: 12px 14px;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 100%);
    border-radius: 10px;
    font-size: 18px;
    position: absolute;
    top: 20px;
    right: 20px;
    opacity: 0;
    transform: translate(20px, -20px);
    transition: all .8s;
    overflow: hidden;

}
.work .pic:hover .overlay__icon{
    transform: translate(0);
    opacity: 1;
}
.work .overplay__text{
    color: white;
    text-align: left;
    position: absolute;
    bottom: 30px;
    left: 30px;
    transform: translateY(80px);
    transition: all .8s;
    overflow: hidden;
}

.work .pic:hover .overplay__text{
    transform: translateY(0);
}






/* blog */
.blog{
    padding: 120px 0 50px;
    text-align: center;
    background-image: url('.././img/bg16.png');
    background-size: cover;
    background-position: top center;
}
.blog .blog__content{
    display: flex;
}
.blog .blog__item{
    text-align: left;
    width: auto;
    background-color: #FEEFF3;
    border-radius: 10px;
    padding-bottom: 20px;
}
.blog .blog__item .blog__pic{
    position: relative;
}
.blog .blog__item .blog__pic img{
    width: 100%;
    display: block;
    border-radius: 10px;
}
.blog .blog__item .blog__pic button{
    padding: 15px 22px;
    color: white;
    font-size: 16px;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 100%);
    border: none;
    border-radius: 10px;
    position: absolute;
    bottom: -20px;
    left: 20px;
}

.blog .blog__item h2{
    margin-top: 30px;
    padding: 0 40px 0 15px;
    font-size: 28px;
}
.blog .blog__item p{
    margin-top: 10px;
    padding: 0 40px 0 15px;
    line-height: 30px;
    font-size: 18px;
    color: #636363;
}
.blog .blog__item hr{
    margin: 20px 0;
}

.blog .blog__item ul li{
    list-style: none;
    display: inline;
    margin-left: 20px;
    color: #636363;

}
.blog .blog__item ul li span{
    color: #f55f8d;
}
.blog .blog__item ul li i{
    font-size: 20px;
    color: #f55f8d;
    margin-right: 5px;
}
/* footer */
footer{
    padding: 40px 0 0;
    position: relative;
}
footer::after{
    content: "";
    background-color: #0E1B1F;
    background-image: url('.././img/pattern2.png');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}
footer .top__footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 60px;
    background-color: white;
    background-image: url('.././img/pattern3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    border-radius: 10px;
    position: absolute;
    top: 0;
    width: 90%;
}
footer .top__footer__title{
    width: 50%;

}
footer .top__footer__form{
    width: 50%;
    position: relative;
    z-index: 20;

}
footer .top__footer__form input{
    width: 100%;
    height: 70px;
    padding: 10px;
    outline: none;
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all .5s;    
}
footer .top__footer__form input:hover{
    border-color: #f55f8d;
}


footer .top__footer__form input:focus{
    border-color: #f55f8d;
}
footer .top__footer__form span{
    width: 100px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 18px;
    color: white;
    background-image: linear-gradient(to right, #f55f8d 0%, #f8ae56 50%, #f55f8d 100%);
    background-size: 200%;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 10px 10px 0;
    transition: all .8s;
    cursor: pointer;

}
footer .top__footer__form span:hover{
    background-position: right center;
}
footer .top__footer__form span:hover i{
    display: inline-block;
    animation: emailMove .8s forwards;
}

/* end footer */
footer .end__footer{
    margin: 200px 0 50px;
    color: white;
}
footer .end__footer__item{
    width: 25%;
    float: left;
}
footer .end__footer__item .contact{
    margin: 20px 0;
}

footer .end__footer__item .contact i{
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
}
footer .end__footer__item span{
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    font-size: 15px;
    line-height: 24px;
}
footer .end__footer__item h2{
    color: white;
    padding-bottom: 20px;
    margin-bottom: 20px;
    position: relative;
}
footer .end__footer__item h2::before{
    content: "";
    height: 4px;
    width: 15px;
    background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);    border-radius: 4px;
    background-size: 200%;
    position: absolute;
    bottom: 0;
    left: 0;

}

footer .end__footer__item h2::after{
    content: "";
    height: 4px;
    width: 50px;
    background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);    border-radius: 4px;
    background-size: 200%;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 20px;

}
footer .end__footer__item ul li{
    list-style: none;
    margin: 10px 0 10px;
    padding-top: 18px;

}
footer .end__footer__item ul li i{
    margin-right: 10px;

}
footer .end__footer__item ul li a{
    text-decoration: none;
    color:#636363;
    font-size: 16px;
    transition: all .5s;
}
footer .end__footer__item ul li a:hover{
    color:white;
}

/* copyright */
footer .copyright{
    background-color: #1F343B;
    color: white;
    padding: 10px 0;
    margin-top: 40px;
}
footer .copyright .left__copy{
    width: 50%;
    float: left;
}
footer .copyright .left__copy p{
    line-height: 35px;
}
footer .copyright .left__copy p span{
    color: #f55f8d;
}
footer .copyright .right__copy{
    width: 50%;
    float: right;
    text-align: right;
}
footer .copyright .right__copy a{
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all .5s;
}
footer .copyright .right__copy a:hover{
    background-color: #f55f8d;
}
/* backtotop */  
.backtotop button{
    width: 50px;
    height: 50px;
    background-color: rgba(245, 95, 140, 0.6);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 10;
}
.backtotop button a{
    color: white;
}

/* animation */
@keyframes menuUpDown{
    49% {
        transform: translateY(20px);
    }
    50% {
        opacity: 0;
        transform: translateY(-20px);
    }
    51% {
        opacity: 1;
    }
}

@keyframes emailMove{
    49% {
        transform: translateX(20px);
    }
    50% {
        opacity: 0;
        transform: translateX(-20px);
    }
    51% {
        opacity: 1;
    }
}


@keyframes move2 {
    0% {
        transform: rotate(1deg) translate(2px, 2px);
    }

    50% {
        transform: rotate(-1deg) translate(-2px, -2px);
    }

    100% {
        transform: rotate(1deg) translate(2px, 2px);
    }
}

